= render layout: 'devise/shared/layout', locals: { title: "Edit #{resource_name.to_s.humanize}" } do
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .form-group
      = f.label :email, class: 'small'
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .small Currently waiting confirmation for: #{resource.unconfirmed_email}

    .form-group
      = f.label :password, class: 'small'
      %i.small (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "off", class: 'form-control'

    .form-group
      = f.label :password_confirmation, class: 'small'
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

    .form-group
      = f.label :current_password, class: 'small'
      = f.password_field :current_password, autocomplete: "off", class: 'form-control'

    .form-group
      = f.submit "Update", class: 'btn btn-primary btn-block'

  %br/
  .alert.alert-danger
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'alert-link'}

  = link_to "Back", :back
