= link_to property, class: 'clean-link' do
  .card.w-100.h-100
    .card-img-top
      .img-4x3-container
        = image_tag cover_url(property), class: 'img-4x3-content'
    .card-body.row
      .col-12.col-md-auto.text-muted
        - if property.size_in_square_feet && property.price_per_month
          %h6 #{size(property)} - #{price(property)}
        %h5= property.title
        - if property.geo_location.try(:label)
          %h6.small= property.geo_location.label
