= render 'shared/gallery', images: @property.images

.container.mt-3
  .mb-3
    %h1.text-muted= @property.title
    %h5.text-muted= @property.geo_location.try(:label)
  .mb-3
    %h4.text-primary #{humanized_money_with_symbol @property.price_per_month}/mo
  .mb-3
    %ul.text-muted
      %li #{@property.number_of_rooms} #{'bedroom'.pluralize @property.number_of_rooms}
      %li #{@property.number_of_bathrooms} #{'bathroom'.pluralize @property.number_of_bathrooms}
      %li #{@property.size_in_square_feet} sq. ft.
      - @property.features.each do |feature|
        %li= feature
  .mb-3
    %p.text-muted= @property.description
