= render layout: 'devise/shared/layout', locals: { title: 'Log in' } do
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'mb-3' }) do |f|
    .form-group
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Email'

    .form-group
      = f.password_field :password, class: 'form-control', placeholder: 'Password'

    - if devise_mapping.rememberable?
      .form-group
        .custom-control.custom-checkbox
          = f.check_box :remember_me, class: 'custom-control-input'
          = f.label :remember_me, class: 'custom-control-label'

    .form-group
      = f.submit 'Go!', class: 'btn btn-primary btn-block'
