= form_for [owner, image] do |f|
  - if image.errors.any?
    #error-explanation
      %h2 #{pluralize(image.errors.count, 'error')} prohibited this image from being saved:
      %ul
        - image.errors.full_messages.each do |message|
          %li= message

  .form-group
    = render 'shared/images_input', form: f

  .form-group
    = f.submit 'Save', class: 'btn btn-block btn-primary'

  .form-group
    = link_to 'Preview', '#',
      class: 'btn btn-block btn-light'
  .form-group
    = link_to "Back to #{resource_name(owner)}", send(owner_index_path_method(owner)),
      class: 'btn btn-block btn-light'
