!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/

    %title Renthru

    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'

    = javascript_include_tag 'application'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?libraries=places'

    = javascript_pack_tag 'application'

  %body
    = render partial: 'layouts/shared/navbar'

    .container
      = render partial: 'layouts/shared/flash'
      = yield
