!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %title Rentview
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body
    %nav.navbar.navbar-light.bg-light
      .container
        .h5.mb-0
          = link_to 'Rentview', root_path, class: 'navbar-brand text-muted'
        = link_to 'Log in / Sign up', new_user_session_path, class: 'btn btn-outline-primary ml-auto'
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
